__pycache__/
*.pyc
.venv/
node_modules/
.env
build/
devel/
install/
log/

# Flutter / Dart
.dart_tool/
.packages
*.iml
sender/android/.gradle/
sender/ios/Pods/

# CMake
receiver/build/

# Flutter / Dart
.dart_tool/
.packages
*.iml
sender/android/.gradle/
sender/ios/Pods/

# CMake
receiver/build/

# Python
.pytest_cache/
